<div class="topbar flex-row flex justify-content-center">
  <div class="flex flex-row justify-content-between align-items-center w-12 lg:w-9 xl:w-8 p-2 ">
    <div>
    </div>
    <div class="flex flex-row align-items-center gap-2">
      <img class="logo" src="assets/images/logo.png">
      <h1>Cloud Dragon Sheets</h1>
    </div>
    <div *ngIf="!isAuthenticated">
      <button class="p-button-white" pButton [routerLink]='["/auth","login"]'> {{ 'common.login' | translate }}&nbsp;<i class="pi pi-sign-in"></i></button>
    </div>
    <div *ngIf="isAuthenticated">
      <button pButton class="p-button-round p-button-white" (click)="logout()"><i class="pi pi-sign-out"></i> </button>
    </div>
  </div>
</div>
