@import "../../../assets/style/variables";

.topbar {
  position : fixed;
  top:0;
  left:0;
  width: 100%;
  background-color: $background-color-clearer;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  z-index: 99;
}
