@import "../../../assets/style/variables";
.logo{
  border: 1px solid $primary-color;
  border-radius: 50%;
  height : 4rem;
  width : auto;
}
.topbar {
  position : relative;
  background-color: $background-color-clearer;
  box-shadow: 0 1px 8px rgba(0,0,0,.1);
  z-index: 99;
}
