<!-- Intro Page -->
<sheet-page [showContent]="!!formGroup">
  <div class="flex flex-row align-items-center justify-content-center mt-8 pt-4 mb-4">
    <img alt="Ars Magica" src="../../../../assets/images/ars-magica/titre.png">
  </div>
  <app-shared-picture [formControl]="formGroup.controls.characterPicture"></app-shared-picture>
  <h1 class="flex flex-row justify-content-center align-items-center">
    {{ "sheet.ars-magica.title" | translate }}
  </h1>
  <div class="flex flex-row gap-4 mt-8">
    <div class="general-field w-4">
      <label class="w-5">{{ "sheet.ars-magica.player" | translate }}</label>
      <input class="w-7" [formControl]="formGroup.controls.playerName">
    </div>
    <div class="general-field w-4">
      <label class="w-5">{{ "sheet.ars-magica.game" | translate }}</label>
      <input class="w-7" [formControl]="formGroup.controls.gameName">
    </div>
    <div class="general-field w-4">
      <label class="w-5">{{ "sheet.ars-magica.character" | translate }}</label>
      <input class="w-7" [formControl]="formGroup.controls.characterName">
    </div>
  </div>
</sheet-page>

<!-- First page -->
<sheet-page [showContent]="!!formGroup" pageNumber="1">
    <div class="flex flex-row gap-2">
      <div class="flex flex-column gap-1 w-6">
        <div class="flex flex-row field">
          <label>{{ "sheet.ars-magica.character" | translate }}</label>
          <input class="flex-1" [formControl]="formGroup.controls.characterName">
        </div>

        <div class="flex flex-row gap-1">
          <div class="general-field w-6">
            <label class="w-4">{{ "sheet.ars-magica.player" | translate }}</label>
            <input class="w-8" [formControl]="formGroup.controls.playerName">
          </div>
          <div class="general-field w-6">
            <label class="w-4">{{ "sheet.ars-magica.game" | translate }}</label>
            <input class="w-8" [formControl]="formGroup.controls.gameName">
          </div>
        </div>

        <div class="flex flex-row gap-1">
          <div class="general-field w-6">
            <label class="w-4">{{ "sheet.ars-magica.tribunal" | translate }}</label>
            <input class="w-8" [formControl]="formGroup.controls.general.controls.tribunal">
          </div>
          <div class="general-field w-6">
            <label class="w-4">{{ "sheet.ars-magica.year" | translate }}</label>
            <input class="w-8" [formControl]="formGroup.controls.general.controls.year">
          </div>
        </div>
        <div class="flex flex-row gap-1">
          <label class="w-2">{{ "sheet.ars-magica.confidence" | translate }}</label>
          <input class="w-4" [formControl]="formGroup.controls.general.controls.confidenceValue">
          (
          <input class="w-2" [formControl]="formGroup.controls.general.controls.confidencePoint">
          )
        </div>

      </div>
      <div class="flex flex-row w-6 align-items-center justify-content-center">
        <img class="w-12" alt="Ars Magica" src="../../../../assets/images/ars-magica/titre.png">
      </div>
    </div>

    <div class="flex flex-row gap-2 align-items-stretch">
      <section class="w-6 gap-1">
        <h1>{{ "sheet.ars-magica.characteristics" | translate }}</h1>
        <div class="general-field">
          <div class="left w-3"></div>
          <div class="w-2"></div>
          <label class="center w-2">{{ "sheet.ars-magica.characteristics.tech" | translate }}</label>
          <div class="composite-input w-3">
            <label class="center w-12">{{ "sheet.ars-magica.characteristics.note" | translate }}</label>
          </div>
          <label class="center w-2">{{ "sheet.ars-magica.characteristics.value" | translate }}</label>
        </div>
        <div class="general-field">
          <label class="left w-3">{{ "sheet.ars-magica.characteristics.intelligence" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.characteristics.int" | translate }}</label>
          <label class="center w-2">-</label>
          <div class="composite-input w-3">
            (
            <input [formControl]="formGroup.controls.characteristics.controls.intelligence.controls.note">
            )
          </div>
          <input class="w-2" [formControl]="formGroup.controls.characteristics.controls.intelligence.controls.value">
        </div>
        <div class="general-field">
          <label class="left w-3">{{ "sheet.ars-magica.characteristics.perception" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.characteristics.per" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.arts.in" | translate }}</label>
          <div class="composite-input w-3">
            (
            <input [formControl]="formGroup.controls.characteristics.controls.perception.controls.note">
            )
          </div>
          <input class="w-2" [formControl]="formGroup.controls.characteristics.controls.perception.controls.value">
        </div>
        <div class="general-field">
          <label class="left w-3">{{ "sheet.ars-magica.characteristics.presence" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.characteristics.pre" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.arts.re" | translate }}</label>
          <div class="composite-input w-3">
            (
            <input [formControl]="formGroup.controls.characteristics.controls.presence.controls.note">
            )
          </div>
          <input class="w-2" [formControl]="formGroup.controls.characteristics.controls.presence.controls.value">
        </div>
        <div class="general-field">
          <label class="left w-3">{{ "sheet.ars-magica.characteristics.communication" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.characteristics.com" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.arts.cr" | translate }}</label>
          <div class="composite-input w-3">
            (
            <input [formControl]="formGroup.controls.characteristics.controls.communication.controls.note">
            )
          </div>
          <input class="w-2" [formControl]="formGroup.controls.characteristics.controls.communication.controls.value">
        </div>
        <div class="hr"></div>
        <div class="general-field">
          <label class="left w-3">{{ "sheet.ars-magica.characteristics.strength" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.characteristics.str" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.arts.pe" | translate }}</label>
          <div class="composite-input w-3">
            (
            <input [formControl]="formGroup.controls.characteristics.controls.strength.controls.note">
            )
          </div>
          <input class="w-2" [formControl]="formGroup.controls.characteristics.controls.strength.controls.value">
        </div>
        <div class="general-field">
          <label class="left w-3">{{ "sheet.ars-magica.characteristics.endurance" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.characteristics.end" | translate }}</label>
          <label class="center w-2">-</label>
          <div class="composite-input w-3">
            (
            <input [formControl]="formGroup.controls.characteristics.controls.endurance.controls.note">
            )
          </div>
          <input class="w-2" [formControl]="formGroup.controls.characteristics.controls.endurance.controls.value">
        </div>
        <div class="general-field">
          <label class="left w-3">{{ "sheet.ars-magica.characteristics.dexterity" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.characteristics.dex" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.arts.mu" | translate }}</label>
          <div class="composite-input w-3">
            (
            <input [formControl]="formGroup.controls.characteristics.controls.dexterity.controls.note">
            )
          </div>
          <input class="w-2" [formControl]="formGroup.controls.characteristics.controls.dexterity.controls.value">
        </div>
        <div class="general-field">
          <label class="left w-3">{{ "sheet.ars-magica.characteristics.vivacity" | translate }}</label>
          <label class="center w-2">{{ "sheet.ars-magica.characteristics.viv" | translate }}</label>
          <label class="center w-2">-</label>
          <div class="composite-input w-3">
            (
            <input [formControl]="formGroup.controls.characteristics.controls.vivacity.controls.note">
            )
          </div>
          <input class="w-2" [formControl]="formGroup.controls.characteristics.controls.vivacity.controls.value">
        </div>
      </section>
      <section class="w-6">
        <div class="general-field">
          <label class="left w-4">{{ "sheet.ars-magica.birthName" | translate }}</label>
          <input class="w-8" [formControl]="formGroup.controls.general.controls.birthName">
        </div>
        <div class="general-field">
          <label class="left w-4">{{ "sheet.ars-magica.birthYear" | translate }}</label>
          <input class="w-8" [formControl]="formGroup.controls.general.controls.birthYear">
        </div>
        <div class="general-field">
          <label class="left w-4">{{ "sheet.ars-magica.sex" | translate }}</label>
          <input class="w-8" [formControl]="formGroup.controls.general.controls.sex">
        </div>
        <div class="general-field">
          <label class="left w-4">{{ "sheet.ars-magica.nationality" | translate }}</label>
          <input class="w-8" [formControl]="formGroup.controls.general.controls.nationality">
        </div>
        <div class="general-field">
          <label class="left w-4">{{ "sheet.ars-magica.birthPlace" | translate }}</label>
          <input class="w-8" [formControl]="formGroup.controls.general.controls.birthPlace">
        </div>
        <div class="general-field">
          <label class="left w-4">{{ "sheet.ars-magica.religion" | translate }}</label>
          <input class="w-8" [formControl]="formGroup.controls.general.controls.religion">
        </div>
        <div class="general-field">
          <label class="left w-4">{{ "sheet.ars-magica.occupation" | translate }}</label>
          <input class="w-8" [formControl]="formGroup.controls.general.controls.occupation">
        </div>
        <div class="flex-row flex gap-2">
          <div class="general-field w-6">
            <label class="left w-4">{{ "sheet.ars-magica.height" | translate }}</label>
            <input class="w-8" [formControl]="formGroup.controls.general.controls.height">
          </div>
          <div class="general-field w-6">
            <label class="left w-4">{{ "sheet.ars-magica.weight" | translate }}</label>
            <input class="w-8" [formControl]="formGroup.controls.general.controls.weight">
          </div>
        </div>
        <div class="flex-row flex gap-2">
          <div class="general-field w-6">
            <label class="left w-4">{{ "sheet.ars-magica.hair" | translate }}</label>
            <input class="w-8" [formControl]="formGroup.controls.general.controls.hair">
          </div>
          <div class="general-field w-6">
            <label class="left w-4">{{ "sheet.ars-magica.eyes" | translate }}</label>
            <input class="w-8" [formControl]="formGroup.controls.general.controls.eyes">
          </div>
        </div>
        <div class="flex-row flex gap-2">
          <div class="general-field w-6">
            <label class="left w-4">{{ "sheet.ars-magica.size" | translate }}</label>
            <input class="w-8" [formControl]="formGroup.controls.general.controls.size">
          </div>
          <div class="general-field w-6">
            <label class="left w-4">{{ "sheet.ars-magica.hand" | translate }}</label>
            <input class="w-8" [formControl]="formGroup.controls.general.controls.hand">
          </div>
        </div>

      </section>
    </div>

    <div class="flex flex-row gap-2 align-items-stretch flex-1">
      <section class="w-6 justify-content-start">
        <h1>{{ "sheet.ars-magica.virtues_flaws" | translate }}</h1>
        <div class="flex flex-row">
          <h2 class="w-10">{{ "sheet.ars-magica.virtues" | translate }}</h2>
          <div class="w-2 justify-content-end flex-row flex screen-only">
            <button pButton class="p-button-white" (click)="addVirtue()"><i class="pi pi-plus-circle"></i></button>
          </div>
        </div>
        <div class="flex flex-row gap-1">
          <label class="w-5 left">
            {{ "sheets.ars-magica.labels.label" | translate }}
          </label>
          <label class="w-3 center">
            {{ "sheets.ars-magica.labels.category" | translate }}
          </label>
          <label class="w-3 center">
            {{ "sheets.ars-magica.labels.type" | translate }}
          </label>
          <label class="w-1 center">
            {{ "sheets.ars-magica.labels.cost" | translate }}
          </label>
          <div class="w-1 screen-only">
          </div>
        </div>
        <AM5-virtue-control *ngFor="let virtuefg of formGroup.controls.virtues.controls, let i = index"
                            (onDeleteVirtue)="removeVirtueAt(i) "
                            [formGroup]="virtuefg"></AM5-virtue-control>
        <div class="flex flex-row">
          <h2 class="w-10">{{ "sheet.ars-magica.flaws" | translate }}</h2>
          <div class="w-2 justify-content-end flex-row flex screen-only">
            <button pButton class="p-button-white" (click)="addFlaw()"><i class="pi pi-plus-circle"></i></button>
          </div>
        </div>
        <div class="flex flex-row gap-1">
          <label class="w-7 left">
            {{ "sheets.ars-magica.labels.label" | translate }}
          </label>
          <label class="w-4 center">
            {{ "sheets.ars-magica.labels.type" | translate }}
          </label>
          <label class="w-1 center">
            {{ "sheets.ars-magica.labels.cost" | translate }}
          </label>
        </div>
        <AM5-virtue-control *ngFor="let flawfg of formGroup.controls.flaws.controls,let i = index"
                            (onDeleteVirtue)="removeFlawAt(i) "
                            [formGroup]="flawfg"></AM5-virtue-control>
      </section>
      <section class="w-6 justify-content-start">
        <h1>{{ "sheet.ars-magica.abilities" | translate }}</h1>
        <div class="flex flex-row gap-1">
          <label class="w-2 center">{{ "sheets.ars-magica.labels.xp" | translate }}</label>
          <label class="w-5 left">{{ "sheets.ars-magica.labels.label" | translate }}</label>
          <label class="w-3 left">{{ "sheets.ars-magica.labels.specialty" | translate }}</label>
          <label class="w-2 center">{{ "sheets.ars-magica.labels.value" | translate }}</label>
          <div class="w-1 screen-only">
            <i class="pi pi-plus-circle" (click)="addAbility()"></i>
          </div>
        </div>
        <AM5-ability-control *ngFor="let abilityfg of formGroup.controls.abilities.controls,let i = index"
                             (onDeleteAbility)="removeAbilityAt(i)"
                             [formGroup]="abilityfg"></AM5-ability-control>
      </section>

    </div>
</sheet-page>
<!-- Second page-->
<sheet-page [showContent]="!!formGroup" pageNumber="2">
</sheet-page>

<!-- Second page-->
<sheet-page [showContent]="!!formGroup" pageNumber="3">
</sheet-page>

<!-- Fourth Page -->
<sheet-page [showContent]="!!formGroup" pageNumber="4"></sheet-page>

<!-- Mage-1 Page -->
<sheet-page [showContent]="!!formGroup" pageNumber="M1" *ngIf="formGroup?.value.configuration.characterType == Constants.CHARACTER_TYPE_MAGE">
</sheet-page>
