<div class="printable flex flex-row w-12 justify-content-between align-items-center">
  <h1>{{ "menu.user.sheets" | translate }}</h1>
  <button pButton (click)="newSheet()">{{ "sheet.create" | translate }}</button>
</div>
<p-table [value]="sheets" [tableStyleClass]="'w-12'">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols" style="{{col.align? 'text-align:'+col.align:''}}">
        {{ col.header }}
      </th>
      <th>
        {{ "common.actions" | translate }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-sheet>
    <tr>
      <td *ngFor="let col of cols" style="{{col.align? 'text-align:'+col.align:''}}">
        <ng-container *ngIf="col.type == 'text'">
          {{ sheet[col.field] }}
        </ng-container>
        <ng-container *ngIf="col.type == 'GameEnum'">
          {{('game.'+sheet[col.field]) | translate}}
        </ng-container>
        <ng-container *ngIf="col.type == 'User'">
          {{sheet[col.field] | username | async}}
        </ng-container>
        <ng-container *ngIf="col.type == 'boolean'">
          <p-badge *ngIf="sheet[col.field]" value="{{('common.yes') | translate}}"></p-badge>
          <p-badge *ngIf="!sheet[col.field]" value="{{('common.no') | translate}}"></p-badge>
        </ng-container>
      </td>
      <td>
        <button pButton class="p-button-white" [routerLink]="['/user','sheets',sheet.id]" *ngIf="!sheet.readonly">
          <i class="pi pi-pencil"></i>
        </button>
        <button pButton class="p-button-white" [routerLink]="['/user','sheets',sheet.id]" *ngIf="sheet.readonly">
          <i class="pi pi-eye"></i>
        </button>
        <button pButton class="p-button-white" *ngIf="!sheet.readonly">
          <i class="pi pi-trash" ></i>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>


<form [formGroup]="sheetFormGroup">
  <p-dialog [(visible)]="showModal" (onHide)="closeModal()" styleClass="xl:w-4 lg:w-6 md:w-8 w-12"
            header="{{ (sheetFormGroup.value.id ? 'sheet.create.title' : 'sheet.edit.title') | translate }}"
            [modal]="true" [draggable]="false" [resizable]="false">
    <app-user-sheet-edit-form [sheetFormGroup]="sheetFormGroup"></app-user-sheet-edit-form>
    <ng-template pTemplate="footer">
      <button pButton class="p-button-secondary" type="button" (click)="closeModal()">{{ "common.cancel"|translate }}
      </button>
      <button pButton type="submit" (click)="saveSheet()">{{ "common.save"|translate }}</button>
    </ng-template>
  </p-dialog>
</form>
