[sheet-theme="default"] ,
[sheet-theme="DEBUG_SHEET"] {
  --text: black;
  --page-bg: #ccc;
  --accent1: #aaa;
  --accent2: #888;
  --page-content-bg: white;
  --page-content-shadow: white;
}

[sheet-theme="ARS_MAGICA_5TH"] {
  --text: #53332a;
  --accent1: #cc9966;
  --accent2: #885533;
  --page-bg: #F4E9D8;
  --page-content-bg: rgba(255, 255, 255, 0.5);
  --page-content-shadow: rgba(255, 255, 255, 0.5);
}
