/*Backgrounds*/
$background-color-clearer : white;
$background-color-clear : #fafafa;
$background-color-secondary : #9588ff;
$background-color-darker : #161616;

/*Colors*/
$primary-color: #7AC6E9;

$secondary-color-lighter : #eee;
$secondary-color-light : #aaa;
$secondary-color: #444;

$error-color:#e24c4c;
